@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --main-color: #D92123;
    --primary-text-color: #FFF;
    --secondary-text-color: #191919;
    --secondary-color: #868686;
    --tertiary-color: #EFF3F4
}

* {
    box-sizing: border-box;

    font-family: Lato;

    margin: 0;

    padding: 0;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

input[type="submit"] {
    cursor: pointer;
}

i {
    background-color: var(--main-color);

    color: var(--primary-text-color);

    font-size: 2.5rem;

    padding: 2rem;
}

/* header */
#header {
    background-image: url("../imgs/main_banner4.png");

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    color: var(--primary-text-color);

    margin-bottom: 2rem;

    min-height: 90vh;

    position: relative;
}

#inner-header {
    align-items: center;
    
    display: flex;

    justify-content: space-between;
}

#brand {
    background-color: var(--main-color);

    padding: 1rem;
}

#navbar {
    display: flex;

    gap: 4rem;

    margin-right: 2rem;

    text-transform: uppercase;
}

#navbar a {
    color: var(--primary-text-color);

    font-weight: bold;

    padding: 1rem;
}

.banner.active {
    opacity: 1;
}

.banner {
    max-width: 50%;

    opacity: 0;

    padding: 4rem;

    position: absolute;

    transition: 0.6s;
}

.banner h2 {
    font-size: 4rem;

    margin-bottom: 1.2rem;

    position: relative;

    z-index: 2;
}

.banner p {
    font-size: 1.5rem;
}

.square {
    background-color: var(--main-color);

    display: block;

    height: 150px;

    left: 20px;

    position: absolute;

    top: 40px;

    width: 150px;

    z-index: 1;
}

.dots {
    bottom: 3rem;

    display: flex;

    gap: 2rem;

    left: 3rem;

    position: absolute;
}

.dot {
    background-color: var(--secondary-color);

    height: 20px;

    width: 20px;
}

.dot.active {
    background-color: var(--main-color);
}

/* áreas de atuação */
.text-image-section {
    display: flex;

    flex-wrap: wrap;

    gap: 2rem;
}

.text-container {
    display: flex;

    flex: 2 1 0;

    flex-direction: column;

    gap: 2rem;

    justify-content: center;

    text-align: right;
}

.image-container {
    flex: 1 1 300px;

    position: relative;
}

.image-container i {
    position: absolute;
}

.section-subtitle {
    color: var(--main-color);

    font-weight: bold;

    text-transform: uppercase;
}

.section-title {
    color: var(--secondary-text-color);

    font-size: 2rem;
}

.btn {
    align-self: flex-end;

    background-color: var(--main-color);

    color: var(--primary-text-color);

    font-size: 1.4rem;

    font-weight: bold;

    padding: 1.2rem 1.8rem;

    text-transform: uppercase;
}

#other-services {
    display: flex;

    gap: 2rem;

    padding: 2rem;

    width: 100%;
}

.service {
    position: relative;
}

.service i {
    font-size: 1.5rem;

    left: 0;

    padding: 1rem;

    position: absolute;

    top: 0;
}

.service-info {
    background-color: var(--tertiary-color);

    margin-top: -3rem;

    min-height: 250px;

    padding: 2rem 1.4rem;

    position: relative;

    z-index: 2;
}

.service h4 {
    font-size: 1.8rem;

    margin-bottom: 1rem;

    text-transform: uppercase;
}

/* about */
#about {
    align-items: center;

    display: flex;

    flex-wrap: wrap;

    gap: 2rem;
}

#about-text {
    background-image: url("../imgs/pattern.png");

    background-position: center;

    background-repeat: no-repeat;

    background-size: cover;

    color: var(--primary-text-color);

    display: flex;

    flex: 1 1 0;

    flex-direction: column;

    justify-content: center;

    gap: 2rem;

    padding: 4rem 3rem;
}

#about-text .section-subtitle,
#about-text .section-title {
    color: var(--primary-text-color);
}

#about-text i {
    background-color: transparent;
}

.about-description {
    align-items: center;

    display: flex;
}

.about-description h4 {
    font-size: 1.4rem;

    margin-bottom: 1rem;
}

#about-data {
    display: flex;

    flex: 1 1 0;

    flex-wrap: wrap;

    padding: 2rem;
}

#about-data .data {
    align-items: center;

    display: flex;

    flex-direction: column;

    justify-content: center;

    margin-left: -1px;

    margin-top: -1px;

    padding: 2rem;

    width: 50%;
}

#about-data .data:first-child {
    border-bottom: 1px solid var(--secondary-text-color);

    border-right: 1px solid var(--secondary-text-color);
}

#about-data .data:last-child {
    border-top: 1px solid var(--secondary-text-color);
    
    border-left: 1px solid var(--secondary-text-color);
}

#about-data .data i {
    background-color: transparent;

    color: var(--main-color);

    font-size: 4rem;

    padding: 0;
}

.data .number {
    font-size: 4rem;

    font-weight: 900;
}

.data .text {
    text-transform: uppercase;
}

/* testimonials */
#testimonials {
    align-items: center;

    display: flex;
}

#testimonial-information {
    padding: 3rem;
}

.author {
    align-items: center;

    display: flex;

    gap: 1rem;

    justify-content: flex-end;
}

.author img {
    height: 100px;

    width: 100px;
}

.author .author-name {
    color: var(--main-color);

    font-size: 1.3rem;

    font-weight: bold;

    margin-bottom: 1rem;

    text-transform: uppercase;
}

.author .author-job {
    color: var(--secondary-text-color);
}

/* employees */
#team {
    margin-bottom: 2rem;

    position: relative;
}

#team h2 {
    font-size: 3rem;

    margin: 0 auto;

    max-width: 1000px;

    position: relative;

    text-align: center;

    z-index: 2;
}

#team h2 span {
    color: var(--main-color);
}

#team .square {
    background-color: var(--tertiary-color);

    height: 100px;

    left: 50%;

    margin-left: -50px;

    top: -25px;

    width: 100px;
}

.employees {
    display: flex;

    gap: 2rem;

    padding: 2rem;

    text-align: center;
}

.employee-name {
    color: var(--main-color);

    font-size: 1.2rem;

    font-weight: bold;

    margin: .5rem 0;

    text-transform: uppercase;
}

/* contact */
#contact {
    background-color: var(--main-color);

    gap: 0;

    padding-bottom: 5rem;
}

#contact-information {
    flex: 1 1 0;

    padding: 3rem;

    position: relative;

    text-align: center;
}

#contact-information .section-subtitle {
    color: var(--primary-text-color);
}

#contact-information i {
    background-color: var(--primary-text-color);

    color: var(--main-color);

    left: 0;

    position: absolute;

    top: 0;
}

#contact-information form {
    display: flex;

    flex-direction: column;

    gap: 1rem;
}

#contact-information .form-control {
    display: flex;

    gap: 1rem;
}

#contact-information input,
#contact-information textarea {
    border: none;

    flex: .5;

    padding: 1rem;
}

#contact-information .btn {
    align-self: flex-start;

    border: 2px solid var(--primary-text-color);

    font-size: 1.2rem;

    transition: .4s;
}

#contact-information .btn:hover {
    background-color: var(--primary-text-color);

    color: var(--main-color);
}